@import "tailwindcss";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #3c3126;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.LogoText {
  font-family: "Righteous", sans-serif;
  font-size: 38px;
  color: #e8dcc4;
  line-height: 1;
}

.Mail {
  display: flex;
  align-items: center;
  gap: 15px;
}

.MailText {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  color: #e8dcc4;
  line-height: 1;
}

.Pages {
  display: flex;
  align-items: center;
  gap: 60px;
}

.Pages p {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #e8dcc4;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  margin: 0;
}

.Pages p:hover {
  color: #ff7043;
  text-shadow: 0px 0px 12px rgba(255, 112, 67, 0.5);
}

.PersonalData {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  color: #e8dcc4;
  line-height: 1;
  display: flex;
  align-items: center;
}
