@import "tailwindcss";

.Header-nav a,
.Header-nav p {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #e8dcc4;
  font-weight: 700;
  font-size: 18px;
  margin: 0 !important; /* ГАРАНТИРОВАННОЕ ОБНУЛЕНИЕ */
  line-height: 1;
  display: flex;
  align-items: center;
}

.Header-nav-link:hover {
  color: #ff7043;
  text-shadow: 0px 0px 10px rgba(255, 112, 67, 0.4);
}

.Header-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #3c3126;
  box-shadow: none;
  position: relative;
  z-index: 1;
}

.Header-Logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Header-LogoText {
  font-family: "Righteous", sans-serif;
  font-size: 38px;
  color: #e8dcc4;
  line-height: 1;
  margin: 0;
}

.Header-nav {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 35px; /* Расстояние между ссылками */
  margin: 0;
  padding: 0;
}

.Header-nav p {
  font-family: "Jura", sans-serif;
  text-decoration: none;
  color: #e8dcc4;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  margin: 0;
}

.Header-nav-p:hover {
  color: #ff7043;
  text-shadow: 0px 0px 12px rgba(255, 112, 67, 0.5);
}

.Header-ButtonStart {
  font-family: "Jura", sans-serif;
  background-color: #ff7043;
  color: #e8dcc4;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
}

.Header-ButtonStart:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}
