@import "tailwindcss";

.A-Tech-Page-Block-1 {
  display: grid;
  grid-template-columns: minmax(700px, 1.5fr) 1.5fr;
  gap: 6rem;
  max-width: 1800px;
  padding: 3rem 2rem;

  align-items: center;
  margin: 0 auto;
}

.A-Tech-Page-Satellite-Picture {
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}

.A-Tech-Page-Block-1-Text {
  background-image: url("/a-tech/Logo-Light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2rem;
  color: #3c3126;
}

.A-Tech-Page-Block-1-Text-Blur {
  backdrop-filter: blur(10px);
  font-weight: 1000;
}

p {
  font-weight: bold;
}

.A-Tech-Page-Block-2-Header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 7rem;
  color: #3c3126;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.A-Tech-Page-Block-2-Cards-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-left: 15rem;
  margin-right: 15rem;
}

.A-Tech-Page-Block-2-Text {
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  background-color: #3c3126;
  border-radius: 0% 10% 10% 10%;
  padding: 5rem;

}

.A-Tech-Page-Block-2-Text p {
  color: #e8dcc4;

}

.A-Tech-Page-Block-2-Image {
  margin-bottom: 0.5rem;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: #8eab90;
  display: flex;
  justify-content: center;

  outline: 5rem solid #e8dcc4;

  box-shadow: inset 0px 0px 40px 40px #e8dcc4;
}


.A-Tech-Page-Block-3 {
  margin-top: 10rem;
}

.A-Tech-Page-Block-3-Icon-Wrapper {
  position:relative;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  background: #e8dcc4;
  border: 4px solid #8eab90;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c3126;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.45);
}



.A-Tech-Page-Block-3-Cards-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5rem;
  margin-bottom: 10rem;
  justify-self: center;
}

.A-Tech-Page-Block-3-SubText-Cards-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0;
  margin-bottom: 10rem;
  justify-self: center;
}


.A-Tech-Page-Block-3-SubBlock {
  justify-self: center;
  background-color: #8eab90;
  width: 45ch;
  box-shadow: inset 0px 0px 5px 5px #e8dcc4;
  border-radius: 10%;
  font-size: 2rem;
  text-align: justify;
}

.A-Tech-Page-Block-3-SubSubBlock {
  font-size: 2rem;
  justify-self: center;
  background-color: #8eab90;
  width: 75ch;
  box-shadow: inset 0px 0px 5px 5px #e8dcc4;
  border-radius: 10%;
}

.A-Tech-Page-Block-3-SubHeader {
  justify-self: center;
  color: #e8dcc4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.A-Tech-Page-Block-3-SubText {
  padding: 3.5rem;
  color: #e8dcc4;
}

.A-Tech-Page-Block-3-SubText ul {
  list-style-type: disc;

}

.A-Tech-Page-Block-3-SubText ol {
  list-style-type: decimal;
}

.A-Tech-Page-Block-4-Header {
  justify-self: center;
  margin-bottom: 5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.A-Tech-Page-Block-4-Cards-Container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;


  justify-items: center;
  justify-self: center;
}

.A-Tech-Page-Block-4-Video {
  background-color: #3c3126;
  color:#e8dcc4;
  place-items: center;
  display: grid;  
  min-width: 50rem;
}
.A-Tech-Page-Block-4-ImgTitle {
  justify-self: center;
  font-size: 2.5rem;
}

.A-Tech-Page-Block-4-Links {
  margin-top: 4rem;
  justify-self: center;
}
.A-Tech-Page-Block-4-Links p {
  color: #3c3126;
  font-size: 1.5rem;
}

.A-Tech-Page-Block-5 {
  margin-top: 10rem;
}
.A-Tech-Page-Block-5-Header {
  justify-self: center;
  margin-bottom: 5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.A-Tech-Page-Block-5-Cards-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5rem;
  margin-bottom: 10rem;
  justify-self: center;
}

.A-Tech-Page-Block-5-SubBlock {
  justify-self: center;
  background-color: #8eab90;
  width: 45ch;
  box-shadow: inset 0px 0px 5px 5px #e8dcc4;
  border-radius: 10%;
  font-size: 2rem;
  text-align: justify;
}

.A-Tech-Page-Block-5-Icon-Wrapper {
  position:relative;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  background: #e8dcc4;
  border: 4px solid #8eab90;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c3126;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.45);
}

.A-Tech-Page-Block-5-SubText {
  padding: 3.5rem;
  color: #e8dcc4;
}
.A-Tech-Page-Block-5-SubHeader {
  padding: 0;
  color: #e8dcc4;
  justify-self: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}