@import "tailwindcss";

.PageBackground {
  background-color: #e8dcc4;
  background-size: contain;
  background-position: center;
  min-height: 400vh;
  width: 100%;
}

.Block-1 {
  display: grid;
  grid-template-columns: minmax(700px, 1.5fr) 1.5fr;
  gap: 6rem;
  max-width: 1800px;
  padding: 3rem 2rem;

  align-items: center;
  margin: 0 auto;
}

.NASA-Picture {
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}

.Block-1-Text {
  background-image: url("/Logo-Light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2rem;
  color: #3c3126;
}

.Block-1-Text-Blur {
  backdrop-filter: blur(18px);
  font-weight: bold;
}

p {
  font-weight: bold;
}

.Block-1-Button-1 {
  background-color: #ff7043;
  color: #e8dcc4;
  border: solid;
  border-color: #ff7043;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 0.4rem;
}

.Block-1-Button-1:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}

.Block-1-Button-2 {
  color: #3c3126;
  border: solid;
  border-color: #8eab90;
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: 0.4rem;
}

.Block-1-Button-2:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}

.Block-2 {
  margin-top: 7rem;
}

.Block-2-Header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 7rem;
  color: #3c3126;
}

.Block-2-Cards-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  align-items: stretch;
}

.Block-2-SubBlock {
  background-color: #8eab90;
  border-radius: 20px;
  padding: 40px 20px 50px 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Block-2-Icon-Wrapper {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  background: #e8dcc4;
  border: 4px solid #8eab90;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

.Block-2-SubHeader {
  font-weight: 1000;
  font-style: bold;
  font-size: 2rem;
  color: #3c3126;
}

.Block-2-SubText {
  font-size: 1.6rem;
  color: #3c3126;
}

.Block-3 {
  margin-top: 10rem;
}

.Block-3-Header {
  text-align: center;
  color: #3c3126;
}

.Block-3-Cards-Container {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 0.2rem;
  margin-top: 2.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  align-items: stretch;
}

.Image-Before {
  width: auto;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
  display: flex;
  justify-self: center;
}

.Image-After {
  width: auto;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
  display: flex;
  justify-self: center;
}

.Block-3-SubBlock {
  font-size: 2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: justify;
  color: #3c3126;
}

.Block-4 {
  margin-top: 10rem;
}

.Block-4-Header {
  margin-left: 6rem;
  color: #3c3126;
}

.Block-4-List {
  width: 160px;
  height: 160px;
  font-size: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #e8dcc4;
  background: #3c3126;
  border: 3px solid #8eab90;
  border-radius: 50%;

  position: relative;
  left: -32px;

  flex-shrink: 0;
}

.Block-4-List p {
  margin: 0;
}

.Block-4-Header {
  text-align: center;
  margin-bottom: 7rem;
  font-weight: bold;
}

.Block-4-Cards-Container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Block-4-SubBlock {
  display: flex;
  align-items: center;
  background: #8eab90;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative;
  min-height: 5rxem;
  border-radius: 25%;
}

.Block-4-SubText h2 {
  color: #3c3126;
  font-size: 1.8rem;
  margin: 0;
  left: 0rem;
  font-weight: bold;
}

.Block-4-SubText p {
  color: #e8dcc4;
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.4;
}

.Block-5 {
  margin-top: 10rem;
}

.Block-5-Header {
  text-align: center;
  margin-bottom: 7rem;
  font-weight: bold;
  color: #3c3126;
}

.Block-5-Cards-Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (2, 1fr);
  gap: 3rem;
  width: 90%;
  justify-self: center;
}

.Block-5-SubBlock-1 {
  background-color: #8eab90;
  border: #8eab90;
  border-radius: 10% 10% 0% 10%;
  padding: 2rem;
}

.Block-5-SubBlock-1 h2,
.Block-5-SubBlock-2 h2,
.Block-5-SubBlock-3 h2,
.Block-5-SubBlock-4 h2 {
  color: #e8dcc4;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Block-5-SubBlock-1 p,
.Block-5-SubBlock-2 p,
.Block-5-SubBlock-3 p,
.Block-5-SubBlock-4 p {
  color: #3c3126;
  font-size: 1.4rem;
  margin: 0;
  line-height: 1.4;
}

.Block-5-SubBlock-2 {
  background-color: #8eab90;
  border: #8eab90;
  border-radius: 10% 10% 10% 0%;
  padding: 2rem;
}

.Block-5-SubBlock-3 {
  background-color: #8eab90;
  border: #8eab90;
  border-radius: 10% 0% 10% 10%;
  padding: 2rem;
}

.Block-5-SubBlock-4 {
  background-color: #ff7043;
  border: #ff7043;
  border-radius: 0% 10% 10% 10%;
  padding: 2rem;
}

.Block-6 {
  margin-top: 10rem;
}

.Block-6-Header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 7rem;
  color: #3c3126;
}

.Block-6-Cards-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  align-items: stretch;
}

.Block-6-SubBlock {
  background-color: #8eab90;
  border-radius: 15px;
  padding: 40px 20px 50px 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Block-6-Icon-Wrapper {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 4px solid #8eab90;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Block-6-SubHeader {
  font-weight: 1000;
  font-style: bold;
  font-size: 2rem;
  color: #3c3126;
}

.Block-6-SubText {
  font-size: 1.6rem;
  color: #3c3126;
}
