@import "tailwindcss";

:root {
  --fs-h1: clamp(2rem, 5vw + 1rem, 4.2rem);
  --fs-h2: clamp(1.45rem, 3vw + 1rem, 2.75rem);
  --fs-body: clamp(1.25rem, 0.5vw + 0.8rem, 1.35rem);

  --container-max: 1200px;
  --section-padding: clamp(3rem, 10vh, 8rem);
  --base-font-size: 100%;
}

@media(min-width: 1920px) {
  :root {
    --base-font-size: 115%;
    --container-max: 1600px;
  }
}

@media (min-width: 2560px) {
  :root {
    --base-font-size: 120%;
    /* Bumps root to ~19.2px */
    --container-max: 2000px;
  }
}

@media(min-width: 3840px) {
  :root {
    --base-font-size: 140%;
    --container-max: 2800px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--base-font-size);
  -webkit-text-size-abjust: 100%;
  scroll-behavior: smooth;
}

main {
  font-size: var(--fs-body);
  font-family: "Jura", "Righteous", "Inter";
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  max-width: var(--container-max);
  margin-inline: auto;
}


h1 {
  font-size: var(--fs-h1);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

p {
  max-width: 70ch;
  margin-bottom: 1.5rem;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  padding-block: var(--section-padding);
}