@import "tailwindcss";

.SignIn-Page-PageBackground {
  background-color: #e8dcc4;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  height: auto;
  padding-bottom: 1rem;
  width: 100%;
}

.SignIn-Page-Block-1 {
  padding-top: 10rem;
}

.SignIn-Page-Block-1-Header{
  display: flex;
  justify-self: center;
  gap: 1rem;
}

.SignIn-Page-Block-1-Header h2 {
  font-family: "Righteous", sans-serif;
  font-size: 4rem;
  color: #3c3126;
  line-height: 1;
  margin: 0;
}