@import "tailwindcss";

:root {
  --bg-beige: #e8dcc4; /* Основной фон */
  --sidebar-green: #a3b899; /* Фон сайдбара */
  --header-brown: #3c3126; /* Фон хедера */
  --brand-orange: #ff7043; /* Кнопки и акценты */
  --text-dark: #3c3126; /* Цвет текста */
  --text-light: #e8dcc4; /* Светлый текст (для хедера) */
  --transition: all 0.3s ease;
}

.Header {
  height: 5rem;
  background-color: #3c3126;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color:#e8dcc4;
}

.Header-Right {
  display: flex;
  align-items: center;
}

.Header-Upgrade-Button {
  background-color:#ff7043;
  color: #e8dcc4;
  padding: 12px 24px;
  border-radius: 50px; /* Более скругленная, как в Фигме */
  text-decoration: none;
  font-weight: 700;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.Header-Upgrade-Button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(255, 112, 67, 0.3);
}
